[submodule "bios"]
	path = bios
	url = https://github.com/RetroBat-Official/retrobat-bios
[submodule "system/tattoos"]
	path = system/tattoos
	url = https://github.com/RetroBat-Official/retrobat-tattoos
[submodule "system/decorations"]
	path = system/decorations
	url = https://github.com/RetroBat-Official/retrobat-bezels
[submodule "src/emulationstation"]
	path = src/emulationstation
	url = https://github.com/batocera-linux/batocera-emulationstation.git
